In [6]:
import numpy as np
import pandas as pd
import cv2
import pytesseract

import os
from glob import glob
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

In [7]:
imgPaths = glob('./malaysia_ic/*.jpg')

In [8]:
allBusinessCard = pd.DataFrame(columns=['id','text'])

for imgPath in tqdm(imgPaths,desc='BusinessCard'):
    
#     imgPath = imgPaths[0]
#     print(imgPath)
    _, filename = os.path.split(imgPath)
#     print(filename)

    # Extract data and text
    image = cv2.imread(imgPath)
    data = pytesseract.image_to_data(image)
    dataList = list(map(lambda x: x.split('\t'),data.split('\n')))
    df = pd.DataFrame(dataList[1:], columns=dataList[0])
    df.dropna(inplace=True)
    df['conf'] = df['conf'].astype(float).astype(int)

    useFulData = df.query('conf >= 30')

    # Dataframe 
    businessCard = pd.DataFrame()
    businessCard['text'] = useFulData['text']
    businessCard['id'] = filename
    
    # concatenation
    allBusinessCard = pd.concat((allBusinessCard,businessCard))

BusinessCard: 100%|██████████████████████████████████████████████████████████████████████| 6/6 [00:02<00:00,  2.90it/s]

In [9]:
allBusinessCard.to_csv('ic_businessCard.csv', index=False)

In [10]:
allBusinessCard

         id      text
4   000.jpg
8   000.jpg
12  000.jpg
17  000.jpg      ates
18  000.jpg        5,
..      ...       ...
25  005.jpg
29  005.jpg
36  005.jpg  KENINGAL
39  005.jpg       cee
40  005.jpg        Pe

[74 rows x 2 columns]